:root {
  --main-blue: #006cff;
  --main-yellow: #fff000;
  --main-pink: #fa01c0;
  --main-purple: #7605ff;

  --neutral-600: #211f32;
  --neutral-500: #2f2d47;
  --neutral-400: #5a5873;
  --neutral-300: #9492aa;
  --neutral-200: #c3c2d1;
  --neutral-100: #eaeaee;
  --neutral-white: #ffffff;

  --light-blue-700: #003785;
  --light-blue-500: #006cff;
  --light-blue-300: #3d8cff;
  --light-yellow-500: #fff200;
  --light-pink-700: #b9008d;
  --light-pink-500: #fa01c0;
  --light-purple-700: #47019a;
  --light-purple-500: #7605ff;
  --light-purple-300: #ad6bff;

  --dark-blue-500: #0d70ff;
  --dark-blue-300: #3d8cff;
  --dark-yellow-500: #fff200;
  --dark-yellow-300: #fdff68;
  --dark-pink-500: #fa01c0;
  --dark-pink-300: #fe84e3;
  --dark-purple-400: #9d4dff;
  --dark-purple-300: #af6fff;
  --dark-green-500: #26ff84;
  --dark-orange-500: #fe6f71;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

/* NAV BAR */

body {
  background-color: var(--main-blue);
}

/*************** NAV BAR ***************/

.nav-bar {
  display: flex;
  background-color: var(--main-yellow);
  padding: 0.2rem 1rem;

  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;

  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger {
  width: 25px;
}

.ts {
  display: none;
}

.logo-section {
  display: flex;
  flex: auto;
}

.nav-bar-logo {
  width: 210px;
}

.nav-section {
}
.nav {
  display: none;
}

.right-section {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 25px;
  flex: 1;
}

/************************ TABLET *************************/

@media (min-width: 768px) {
}

/******************** DESKTOP **********************/

@media (min-width: 1024px) {
  .nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 1rem;
  }

  .hamburger {
    display: none;
  }

  .ts {
    display: block;
    width: 40px;
  }
  .logo-section {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  .nav-section {
    flex: 2;
  }

  nav a,
  p {
    text-decoration: none;
    color: var(--main-blue);
    font-weight: 500;
    text-transform: uppercase;
  }
}
