/************************************************** MOBILE **************************************************/

body {
  background-color: var(--main-blue);
}

/*************** NAV BAR ***************/

.nav-bar {
  display: flex;
  background-color: var(--main-yellow);
  padding: 0.2rem 1rem;
  gap: 5px;
  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;

  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger {
  width: 25px;
}

.ts {
  display: none;
}

.logo-section {
  display: flex;
  flex: auto;
}

.nav-bar-logo {
  width: 210px;
}

.nav-section {
}
.nav {
  display: none;
}

.right-section {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 25px;
  flex: 1;
}
/*************** MAIN ***************/

section h2 {
  font-size: 1.2rem;
}

.hero-section,
.today-section,
.upcoming-section,
.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 1em;
  background-color: white;
  padding: 1em;
}

/*********** HERO ***********/
.hero-section {
  background: var(--main-blue);

  /* background: url(../assets/hero-background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */

  /* NEON EFFECT */

  border: 2px solid #fff;
  padding: 15px;
  color: #fff;
  border-radius: 10px;
  box-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #ff00de,
    0 0 40px #ff00de;
}

.hero-logo {
  width: 95%;
  max-width: 400px;
}

/*********** TODAY & UPCOMING ***********/

.today-section,
.upcoming-section {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.title-card {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.card-titles {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5em 0 0.2em 0;
}

.game-card {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 0.5 0;
}

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  flex: 3;
  padding: 0.4rem 0;
  position: relative;
}

/* LEARN THIS AND WHATS GOING ON */
.team-section::after {
  content: "";
  position: absolute;
  top: 10px; /* ← Adjust this to control top gap */
  bottom: 10px; /* ← Adjust this to control bottom gap */
  right: 0;
  width: 1px;
  background: lightgray; /* matches your current border color */
}

.away-team,
.home-team {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.logo {
  margin-left: 0.5rem;
}

.team-logo {
  width: 20px;
}

.name {
  display: flex;
  flex: auto;
}

.record {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
  margin-right: 0.5rem;
  color: lightgray;
  font-size: 0.7rem;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 80px;

  font-size: 0.7rem;
}

.time,
.status,
.sport {
  margin-left: 10px;
  color: rgb(71, 71, 74);
}

.time {
  font-weight: bold;
}

.status {
}

.sport {
  font-style: italic;
}

.upcoming-section {
}

.featured-section {
}

/************************************************** TABLET **************************************************/

@media (min-width: 768px) {
  .hero-section {
    margin: 1em 3em;
    padding: 1em;
  }
  .today-section,
  .upcoming-section,
  .featured-section {
    margin: 1em 3em;
    background-color: white;
    padding: 1em;
  }

  .today-section,
  .upcoming-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em;
    padding-bottom: 1em;
  }

  .game-card {
    width: 48%;
    position: relative;
  }

  .game-card:nth-child(even) {
    border-right: 1px solid lightgray;
    padding-right: 1rem;
  }
  .game-card:last-child,
  .game-card:nth-last-child(2) {
    border-bottom: none;
  }
}
/************************************************** DESKTOP *************************************************/

@media (min-width: 1024px) {
  /*************** NAV BAR ***************/
  .nav {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 1rem;
  }

  .hamburger {
    display: none;
  }

  .ts {
    display: block;
    width: 40px;
  }
  .logo-section {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  .nav-section {
    flex: 2;
  }

  nav a,
  p {
    text-decoration: none;
    color: var(--main-blue);
    font-weight: 500;
    text-transform: uppercase;
  }
}
