body {
  background-color: var(--main-blue);
}

/*************** MAIN ***************/

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1em;
}

section h2 {
  font-size: 1.2rem;
}

.hero-section,
.today-section,
.upcoming-section,
.weekly-section,
.coach-section,
.myteam-section,
.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.6) 4px 4px 3.2px;
  background-color: white;
  margin: 1em 0;
  padding: 1em;
}

/*********** HERO ***********/
.hero-section {
  position: relative;
  background: transparent;
  box-shadow: none;
}

.hero-logo {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 500px;
}

/* COMIC DESIGN */

.comic-brutal-container {
  --primary-color: #006cff;
  --secondary-color: #7605ff;
  --text-color: #000000;
  --accent-color: #fff000;
  --panel-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comic-brutal-div {
  position: relative;
  font-size: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  transform: rotate(-2deg);
  transform-origin: center;
  transition: transform 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.comic-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-pink-500);

  padding: 1.5em;
  z-index: 3;
  overflow: hidden;
  transform: skew(-3deg, 1deg);
  transition: transform 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  clip-path: polygon(
    0% 10%,
    3% 0%,
    97% 0%,
    100% 10%,
    100% 90%,
    97% 100%,
    3% 100%,
    0% 90%
  );
}

.comic-text {
  position: relative;
  font-weight: 900;
  font-size: 0.7em;
  text-transform: uppercase;
  z-index: 5;
  color: var(--text-color);
  text-shadow:
    0.05em 0.05em 0 var(--panel-color),
    -0.05em -0.05em 0 var(--panel-color),
    0.05em -0.05em 0 var(--panel-color),
    -0.05em 0.05em 0 var(--panel-color);
  transform: rotate(2deg);
}

.comic-frame {
  position: absolute;
  top: -0.6em;
  left: -1em;
  right: -1em;
  bottom: -0.6em;
  background-color: var(--accent-color);
  border: 0.18em solid var(--text-color);

  border-radius: 10px;
}

.comic-shadow {
  position: absolute;
  top: 0.7em;
  left: 1.4em;
  right: -1.4em;
  bottom: -1em;
  background-color: var(--shadow-color);
  z-index: 0;
  transition: all 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
  border-radius: 10px;
}

.halftone-overlay-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: url(../assets/dot-pattern.svg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;

  z-index: 2;
  opacity: 0.9;
  mix-blend-mode: multiply;
}

/*********** MY TEAMS ***********/

.myteam-section {
  gap: 10px;
  background-color: var(--main-yellow);
  margin: 0;
  padding: 1em;
}

.myteam-titles,
.coachhub-title {
  display: flex;
  width: 100%;
  color: var(--light-pink-500);
  justify-content: center;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 0.1em 0 0.2em 0;
  font-family: "Rubik", sans-serif;
}

.coachhub-title {
  color: var(--main-yellow);
}

.team-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 1) 4px 4px 3.2px;
  background-color: rgb(160, 73, 231);
}

.panthers {
}

.warner {
  background-color: rgb(93, 93, 255);
}

.dolphins {
  background-color: rgb(16, 242, 242);
}

.myteam-team-section {
  line-height: 1;
}

.myteam-name {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

.sport-type {
  font-style: italic;
  font-size: 0.8rem;
  color: var(--neutral-100);
}

.myteam-fav-section {
  display: flex;
  align-items: center;
}

.myteams-go {
  text-decoration: none;
  padding: 0.4rem;
  border: 3px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
}

/*********** TODAY & UPCOMING ***********/

.today-section,
.upcoming-section,
.weekly-section {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em;
}

.title-card {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 0.3rem 0;
}

.card-titles {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5em 0 0.2em 0;
}

.game-card {
  display: flex;
  width: 100%;
  border-bottom: 1px solid lightgray;
  padding: 0.5 0;
}

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
  flex: 3;
  padding: 0.4rem 0;
  position: relative;
}

/* LEARN THIS AND WHATS GOING ON */
.team-section::after {
  content: "";
  position: absolute;
  top: 10px; /* ← Adjust this to control top gap */
  bottom: 10px; /* ← Adjust this to control bottom gap */
  right: 0;
  width: 1px;
  background: lightgray; /* matches your current border color */
}

.away-team,
.home-team {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.logo {
  margin-left: 0.5rem;
}

.team-logo {
  width: 20px;
}

.name {
  display: flex;
  flex: auto;
}

.record {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
  margin-right: 0.5rem;
  color: lightgray;
  font-size: 0.7rem;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 80px;

  font-size: 0.7rem;
}

.time,
.status,
.sport {
  margin-left: 10px;
  color: rgb(71, 71, 74);
}

.time {
  font-weight: bold;
}

.status {
}

.sport {
  font-style: italic;
}

.upcoming-section {
}

.featured-section {
}

/*********** COACHING HUB ***********/

.coach-section {
  background-color: var(--light-pink-500);
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.title-coach {
}

.coaching-link {
  width: 150px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  padding: 1em 0.5em;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.featured-section {
}

/************************ TABLET *************************/

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "hero hero"
      "today favs"
      "upcoming weekly"
      "featured coach";
    padding: 0 3em;
    gap: 20px;
  }
  .hero-section {
    grid-area: hero;
    padding: 1em;
  }

  .today-section {
    grid-area: today;
  }

  .myteam-section {
    grid-area: favs;
  }

  .upcoming-section {
    grid-area: upcoming;
  }

  .weekly-section {
    grid-area: weekly;
  }

  .featured-section {
    grid-area: featured;
  }

  .coach-section {
    grid-area: coach;
  }

  .today-section,
  .upcoming-section,
  .weekly-section,
  .coach-section,
  .myteam-section,
  .featured-section {
    padding: 1em;
  }

  .today-section,
  .upcoming-section,
  .weekly-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1em;
    padding-bottom: 1em;
  }

  .game-card {
    width: 48%;
    position: relative;
  }

  .game-card:nth-child(even) {
    border-right: 1px solid lightgray;
    padding-right: 1rem;
  }
  .game-card:last-child,
  .game-card:nth-last-child(2) {
    border-bottom: none;
  }
}
/******************** DESKTOP **********************/

@media (min-width: 1024px) {
  /********************** MAIN **********************/
  main {
  }

  .hero-section,
  .today-section,
  .upcoming-section,
  .weekly-section,
  .coach-section,
  .myteam-section,
  .featured-section {
  }
}
