:root {
  --primary-blue: #006cff;
  --primary-yellow: #fff000;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.nav-bar {
  display: flex;
  background-color: var(--primary-blue);
  padding: 0.5rem;
  gap: 5px;
}

.hamburger {
  width: 25px;
}

.nav-bar-logo {
  width: 210px;
}

.nav {
  display: none;
}
